node_modules
.DS_Store
dist
dist-ssr
*.local
coverage
stats.html

# 包管理器
# package-lock.json
# yarn.lock

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 压缩包
*.zip
*.rar
*.7z
*.tar

# 全局组件声明
# 每次启动服务或打包都会生成最新的，所以无需传到 Git 上
components.d.ts
auto-import.d.ts
.eslintrc-auto-import.json
